* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Fustat";
  src: url(../tipografias/Fustat-VariableFont_wght.ttf) format("opentype");
  font-display: swap;
}

body {
  font-family: "Fustat";
}

.header-main {
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 100px;
}

/* todo: Header uno */
.header1 {
  display: flex;
  width: 714px;
  padding: 8px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.logo {
  position: absolute;
  left: 30px;
  top: 8px;
  font-size: 36px;
}

.Descripcion {
  display: flex;
  padding: 70px 0 0 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.header__title {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  color: black;
}

.title {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.desta1 {
  background: linear-gradient(270deg, #ffa260 11.78%, #ff2626 88.22%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desta2 {
  background: linear-gradient(270deg, #29f900 12%, #4151ff 88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  color: #777575;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.btn {
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background: #101010;
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: "Fustat";
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  gap: 8px;
}

.arrow {
  width: 30px;
  height: 30px;
}

/* todo: Header dos */
.header2 {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.navigation {
  display: flex;
  padding: 10px 30px;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.navi {
  color: #161616;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.header__img {
  position: relative;
  left: 40px;
  top: 50px;
  width: 530px;
  height: 424px;
}

/* todo: Seccion de Imagenes */
.Galeria {
  display: flex;
  height: auto;
  padding: 30px 0 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.galery-description {
  display: flex;
  width: 780px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.galery__title {
  font-size: 60px;
  font-weight: 600;
}

.galery__paragraph {
  font-size: 20px;
  font-weight: 400;
}

.seccion-imagenes {
  display: grid;
  width: 95%;
  margin: 30px 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px 200px 200px 200px;
  grid-template-areas:
    "img1 img1 img2 img2"
    "img1 img1 img2 img2"
    "img3 img4 img5 img5"
    "img6 img6 img7 img8"
    "img6 img6 img7 img8";
  gap: 5px; /* Espacio entre imágenes */
}

.seccion-imagenes .main__imagenes {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta las imágenes al espacio asignado */
  display: block; /* Soluciona problemas de imágenes inline */
}

.main__imagenes:hover {
  cursor: pointer;
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
  border-radius: 8px;
}

/* todo: Modal */

.modal-content {
  position: relative;
  background-color: #fff5bca1;
  display: flex;
  width: 1200px;
  height: 550px;
  padding: 20px;
  margin: 0 auto;
  align-items: flex-start;
  gap: 50px;
  border-radius: 24px;
}

.modal-overlay {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Oscuridad con opacidad */
  z-index: 99; /* Debe estar debajo del modal pero sobre el contenido de la página */
}

/* Mostrar el overlay cuando el modal está visible */
.modal-overlay.active {
  display: block;
}

#mainModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.close:hover {
  cursor: pointer;
}

.image-select {
  width: 545px;
  height: 510px;
  max-width: 560px;
  align-self: stretch;
  border-radius: 8px;
}

.modal-description {
  display: flex;
  width: 575px;
  height: fit-content;
  padding: 3px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.modal-title {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.name-img {
  font-size: 30px;
}

.modal-Icons {
  display: flex;
  width: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  left: 575px;
  bottom: 19.509px;
}

.modal-Icons:hover {
  cursor: pointer;
}

.creator {
  display: flex;
  height: 61px;
  padding: 4px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.img-creator {
  width: 50px;
  height: 50px;
}

.name-creator {
  font-family: Fustat;
  font-size: 16px;
  font-weight: 600;
}

.creator__perfil {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-size: cover;
}
